services:
  backend:
    build: ./backend
    container_name: portfolio-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build: ./frontend
    container_name: portfolio-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: ankane/pgvector:latest
    container_name: portfolio-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portfolio
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  pgadmin:
    image: dpage/pgadmin4
    container_name: portfolio-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  redis:
    image: redis:alpine
    container_name: portfolio-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
    name: myportfolio_postgres_data

